/* styles.css */

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    overflow: hidden;
}



.container {
    width: 100%;
    max-width: 600px;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 8px;
    box-shadow:100px 100px 10px rgb(80, 69, 69);
    text-align: center;
}

/* Oculta a seção que não está sendo exibida */
.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(65, 64, 64);
    color: white;

}

.question {
    margin-top: 20px;
}

.option {
    display: block;
    margin: 10px 0;
    text-align: left;
}

/* Estilos para o feedback de resposta correta ou incorreta */
.feedback {
    font-weight: bold;
    margin-top: 10px;
}
